<style>

  .option{
  	width:400px;
  	height:400px;
  	background-color:green;
  	float:left;
  }
  .video{
  	width:450px;
  	height:400px;
  	float:right;
  }
</style>

<div class="option">
	<%= @question.option_1 %>
</div>
<div class="video">
	<iframe width="450" height="400" src="<%= @question.video_url %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class='bottom'>
<%= link_to "next", :controller => "questions", :action => "show", :id => @next_question %>
<%= params %>
</div>