
	<div id="title">
		<h1>Welcome to Mom & Dad Certified</h1>
	</div>
	
	<div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         appId      : '110489365742004',
         status     : true, 
         cookie     : true,
         xfbml      : true,
         oauth      : true,
       });
     };
     (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
   </script>
   <div class="fb-registration" 
			data-fields="[{'name':'name'}, {'name':'email'}]" 
			data-redirect-uri="http://growing-day-7775.heroku.com/pages/contact"
	</div>

</div>




