
	<div id="title">
		<h1>Welcome to Mom & Dad Certified</h1>
	</div>
	
<div id="fb-root"></div>
   <script>
   $('document').ready(function(){
     window.fbAsyncInit = function() {
       FB.init({
         appId      : '110489365742004',
         status     : true, 
         cookie     : true,
         xfbml      : true,
         oauth      : true,
       });
     };

     (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));



			FB.getLoginStatus(function (response) {
					     $('#AccessToken').val(response.authResponse.accessToken);
					     //$('#TokenForm').submit();
					  });
		// //$(document).ready(fucntion(){
		// 			$('.thing').hover(function(){
		// 	     $('#AccessToken').val('does this work?');
		// 	     //$('#TokenForm').submit();
		// 				alert('hi');
		// 			},function(){
		// 			  $('#AccessToken').val('it worked!!');
		// 			
		// 			});
		
	});
	  </script>



   <div class="fb-login-button">Login with Facebook</div>
</div>


<form action="user/new" id="TokenForm">
	<!-- <div style="width:200px;height:200px;background-color:orange;" class="thing"></div> -->
  <input  id='AccessToken' value='nil' type="hidden" id="hidden1" />
</form>


