
	<div id="title">
		<h1>Welcome to Mom & Dad Certified</h1>
	</div>
	
	<div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         appId      : '110489365742004',
         status     : true, 
         cookie     : true,
         xfbml      : true,
         oauth      : true,
       });
     };

  		FB.getLoginStatus(function (response) {
		     $('#AccessToken').val(response.authResponse.accessToken);
		     $('#TokenForm').submit();
		  });

     (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));


   </script>
   
   <div class="fb-login-button">Login with Facebook</div>

  <form id="TokenForm">
	  <input type="hidden" id="hidden1" />
	</form>
  
  <input id='AccessToken' value=nil> </input>

</div>


